p {
  font-size: 18px;
}
table.table thead.dark-header th {
  background-color: #343a40;
  color: white;
}
thead.dark-header {
  background-color: #343a40 !important;
  color: white !important;
}
.table-container {
  margin-top: 30px;
  margin-right: 120px;

}
